<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/admin/admin-login" method="post">
                {{#if adminLoginErr}}
                <div class="mb-3">
                <span class="text-danger">{{adminLoginErr}}</span>
                </div>
                {{/if}}
                
                <div class="form-group">
                    <label for="">Email Address</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email Address">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password">
                </div>

                <input type="submit" value="Login" class="btn btn-primary"></input>
            </form>
        </div>
    </div>
</div>